    crds:
      enabled: true
    # Disable externally managed components
    alertmanager:
      enabled: false
    grafana:
      enabled: false

    # No rules are created by default
    defaultRules:
      create: false

    # Kubernetes Component Scrapers
    kubeApiServer:
      enabled: true
      # serviceMonitor:
      #   metricRelabelings:
      #     # Drop high cardinality labels
      #     - action: drop
      #       sourceLabels: ["__name__"]
      #       regex: (apiserver|etcd|rest_client)_request(|_sli|_slo)_duration_seconds_bucket
      #     - action: drop
      #       sourceLabels: ["__name__"]
      #       regex: (apiserver_response_sizes_bucket|apiserver_watch_events_sizes_bucket)
    kubelet:
      enabled: true
      # serviceMonitor:
      #   metricRelabelings:
      #     # Drop high cardinality labels
      #     - action: labeldrop
      #       regex: (uid)
      #     - action: labeldrop
      #       regex: (id|name)
      #     - action: drop
      #       sourceLabels: ["__name__"]
      #       regex: (rest_client_request_duration_seconds_bucket|rest_client_request_duration_seconds_sum|rest_client_request_duration_seconds_count)
    kubeControllerManager:
      enabled: false
    kubeEtcd:
      enabled: false
    kubeScheduler:
      enabled: false
    kubeProxy:
      enabled: false

    # Prometheus Operator
    prometheusOperator:
      enabled: true
    serviceMonitor:
      selfMonitor: true
    # Setting to true produces cleaner resource names, but requires a data migration because the name of the persistent volume changes.
    # Therefore this should only be set once on initial installation.
    cleanPrometheusOperatorObjectNames: true

    # Operator Instance Configuration
    prometheus:
      enabled: true
      serviceMonitor:
        selfMonitor: true
      prometheusSpec:
        # scrapeInterval: ""
        # scrapeTimeout: ""
        # enableRemoteWriteReceiver: false
        # Do not add `prometheus` and `prometheus_replica` external labels
        replicaExternalLabelNameClear: true
        prometheusExternalLabelNameClear: true

        # Since we are querying the infra Prometheus in the same cluster (no remote write, federation), this does not work.
        # Therefore, the ScrapeClass below is used.
        externalLabels:
          cluster: infra
        # Default ScrapeClass that adds label `cluster="infra"` to all metrics.
        # Ignored when `honor_labels` is used (e.g. when federating other Prometheus instances).
        scrapeClasses:
          - name: in-cluster
            default: true
            relabelings:
              - sourceLabels: [__address__]
                regex: '(.*)'
                targetLabel: cluster
                replacement: infra

        # Enable persistent storage
        storageSpec:
          volumeClaimTemplate:
            spec:
              resources:
                requests:
                  storage: 10Gi
        retention: 3d
        retentionSize: 9GiB

        # TODO: Find permanent solution for Prometheus permissions error.
        # Workaround: https://github.com/prometheus-community/helm-charts/issues/1162#issuecomment-1267895698
        securityContext:
          runAsUser: 0
          runAsGroup: 0
          fsGroup: 0
          runAsNonRoot: false

        # Alternative workaround: Contra: The volumeMounts name and subPath might change, so this won't work reliably.
        # initContainers:
        #   - name: update-permissions
        #     image: docker.io/library/busybox:1.31.1
        #     command: ["chown", "-R", "1000:2000", "/prometheus"]
        #     securityContext:
        #       readOnlyRootFilesystem: true
        #       capabilities:
        #         drop: ["all"]
        #         add: ["CHOWN"]
        #       runAsUser: 0
        #       runAsNonRoot: false
        #     volumeMounts:
        #       - mountPath: /prometheus
        #         name: prometheus-kube-prometheus-stack-db
        #         subPath: prometheus-db

        # Select all PrometheusRule, ServiceMonitor, PodMonitor, Probe, and ScrapeConfig resources found.
        ruleSelectorNilUsesHelmValues: false
        ruleNamespaceSelector: {}
        ruleSelector: {}
        serviceMonitorSelectorNilUsesHelmValues: false
        serviceMonitorNamespaceSelector: {}
        serviceMonitorSelector: {}
        podMonitorSelectorNilUsesHelmValues: false
        podMonitorNamespaceSelector: {}
        podMonitorSelector: {}
        probeSelectorNilUsesHelmValues: false
        probeNamespaceSelector: {}
        probeSelector: {}
        scrapeConfigSelectorNilUsesHelmValues: false
        scrapeConfigNamespaceSelector: {}
        scrapeConfigSelector: {}
